@font-face {
  font-family: "GothaPro_Light";
  src: url("../fonts/GothaProLig.eot");
  src: local("☺"), url("../fonts/GothaProLig.woff") format("woff"),
    url("../fonts/GothaProLig.ttf") format("truetype"),
    url("../fonts/GothaProLig.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GothaPro_Medium";
  src: url("../fonts/GothaProMed.eot");
  src: local("☺"), url("../fonts/GothaProMed.woff") format("woff"),
    url("../fonts/GothaProMed.ttf") format("truetype"),
    url("../fonts/GothaProMed.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
td {
  padding: 0;
}
body {
  font-family: "GothaPro_Light";
  font-size: 18px;
  color: #6e7a83;
  line-height: 27px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

/* header */
.header {
  height: 80px;
  background-color: #f7f7f7;
  position: absolute;
  width: 100%;
  top: 0;
}
.header.fixed {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  transform: translate3d(0, 0, 0);
  background-color: #f7f7f7;
}
.container_header {
  margin-left: 8.333%;
  margin-right: 3.472%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left {
  display: flex;
  align-items: center;
}
.circle {
  display: block;
  width: 70px;
  height: 70px;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 50%;
}
.img_logo {
  width: 37px;
  height: 49px;
  margin-top: 10px;
  margin-left: 17px;
}
.m_menu_inner {
  display: none;
}
.nav_link {
  margin-left: 32px;
  font-family: "GothaPro_Medium";
  color: #006abf;
  text-decoration: none;
}
.search {
  padding: 8px 0;
  border: 1px solid #d3e3f0;
  border-radius: 4px;
  padding-right: 30px;
  padding-left: 9px;
  position: relative;
  font-size: 14px;
}
.seach_icon {
  position: absolute;
  right: 60px;
}

/* intro */
.intro {
  padding-top: 122px;
}
.intro_inner_left {
  margin-top: 30px;
  margin-left: 100px;
}
.intro_logo {
  width: 60px;
  height: 79px;
}
.intro_img {
  margin-right: 25px;
  height: 100%;
}
.intro_bg_img {
  position: absolute;
  z-index: -2;
  margin-top: 80px;
  max-width: 1000px;
}
.intro_title {
  font-size: 60px;
  line-height: 70px;
  color: #006abf;
  margin: 10px 0;
  font-family: "GothaPro_Medium";
}
.intro_text {
  max-width: 480px;
}

/* about */

.about {
  background-color: #f7f7f7;
  padding: 75px 0;
}
.container_about {
  max-width: 800px;
}
.about_img {
  margin-right: 34px;
  width: 377px;
  height: 408px;
}
.about_title {
  color: #006abf;
  font-family: "GothaPro_Medium";
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}
.about_text_1 {
  margin-bottom: 13px;
}
.about_text_2 {
  margin-bottom: 0px;
}

/* services */

.container_services_title {
  margin-top: 140px;
  display: block;
  max-width: 820px;
}
.services_title {
  color: #006abf;
  font-family: "GothaPro_Medium";
  font-size: 40px;
  text-align: center;
  line-height: 47px;
  margin-bottom: 20px;
}
.services_text {
  margin-bottom: 140px;
  text-align: center;
}
.container_content {
  max-width: 1000px;
  margin: 0 auto;
}
.content {
  display: flex;
  margin: 80px 0;
}
.col_left,
.col_right {
  width: 50%;
}
.content_title {
  font-family: "GothaPro_Medium";
  font-size: 30px;
  line-height: 35px;
  color: #6e7a83;
  margin-bottom: 20px;
}
.col_right {
  position: relative;
  margin-left: 50px;
}
.content_img {
  width: 100%;
}
.path_left,
.path_right {
  position: absolute;
  z-index: -2;
}
.path_left {
  margin-left: 30px;
}
.path_right {
  margin-left: 290px;
}
.text_2,
.text_3 {
  margin-top: 40px;
}
.text_6 {
  margin-top: 70px;
}

/* сosts */
.costs {
  background-color: #f7f7f7;
}
.container_costs {
  flex-direction: column;
}
.costs_title {
  font-family: "GothaPro_Medium";
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #006abf;
  margin: 75px 0;
}
.table {
  border-spacing: 0px;
  border: none;
  color: #6e7a83;
  font-family: "GothaPro_Medium";
}
.table_column {
  padding-left: 20px;
}
.blue {
  background-color: #d3e3f0;
}
.table_column_2 {
  text-align: right;
  padding-right: 20px;
}
.sign {
  width: 182px;
  margin: 0 auto;
  margin-top: 54px;
  padding: 14px 0;
  background: #006abf;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: "GothaPro_Medium";
  margin-bottom: 100px;
  cursor: pointer;
}

/* reviews */
.reviews {
  margin-bottom: 120px;
}
.container_reviews {
  max-width: 1200px;
  margin: 0 auto;
}
.reviews_title {
  margin: 90px 0;
  text-align: center;
  font-size: 40px;
  line-height: 47px;
  color: #006abf;
  font-family: "GothaPro_Medium";
}
.reviews_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reviews_item {
  background-color: #f7f7f7;
  width: 31%;
}
.reviews_item:last-child {
  margin-right: 0;
}
.reviews_decorate {
  margin-top: -30px;
}
.reviews_content {
  padding: 5px 30px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.item_hidden {
  display: none;
  margin-top: 40px;
}
.collapse_btn {
  margin: 0 auto;
  width: 130px;
  height: 24px;
  margin-top: 30px;
  text-align: center;
  background: url(../img/content/bg_btn.png), center, no-repeat;
  background-size: 100%;
}
.collapse_btn.active {
  background: url(../img/content/bg_btn_cl.png), center, no-repeat;
  width: 77px;
  height: 20px;
}
.reviews_text {
  line-height: 20px;
  margin-bottom: 13px;
  height: 160px;
}
.reviews_subtitle {
  line-height: 24px;
  font-family: "GothaPro_Medium";
  margin-bottom: 0;
}

/* contacts */

.contacts {
  display: flex;
  margin-bottom: 75px;
}
.contacts_left,
.contacts_right {
  width: 50%;
  height: 479px;
}
.contacts_left {
  background-color: #006abf;
}
.contacts_content {
  width: 50%;
  margin: 50px auto;
}
.contacts_title {
  font-family: "GothaPro_Medium";
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 35px;
}
.contacts_item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.contacts_icon {
  width: 16px;
  height: 16px;
}
.contacts_text {
  margin-bottom: 0;
  margin-left: 23px;
  color: #fff;
}

/* form */
.form {
  background-color: #f7f7f7;
  padding-top: 50px;
}
.form_container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.form_left,
.form_right {
  width: 50%;
}
.form_left {
  display: flex;
}
.form_img {
  margin-left: 150px;
}
.fotm_bg {
  position: absolute;
  margin-top: 220px;
  margin-left: 50px;
  background-color: #d3e3f0;
  border-radius: 4px;
}
.form_text {
  margin-bottom: 0;
  padding: 10px 30px;
  line-height: 20px;
  color: #006abf;
  font-family: "GothaPro_Medium";
}
.form_title {
  font-size: 30px;
  line-height: 35px;
  font-family: "GothaPro_Medium";
  margin-top: 10px;
  margin-bottom: 28px;
}
.form_input,
.form_input_text {
  padding: 10px 5px 5px 10px;
  display: block;
  width: 378px;
  margin-bottom: 12px;
  font-size: 14px;
  border: 1px solid #d3e3f0;
  border-radius: 4px;
}
.form_input_text {
  height: 108px;
}
.form_btn {
  margin-top: 5px;
  padding: 10px 30px;
  margin-bottom: 50px;
}

/* footer */
.footer {
  background-color: #006abf;
  color: #fff;
}
.footer_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer_title {
  margin-bottom: 15px;
}
.footer_left {
  margin-top: 19px;
  display: flex;
  align-items: start;
}
.footer_contacts {
  margin-top: 24px;
  margin-left: 32px;
}
.footer_links {
  margin-left: 68px;
  margin-top: 24px;
}
.footer_link {
  color: #fff;
  display: block;
  margin-bottom: 7px;
}
.footer_right {
  margin-top: 150px;
}
.social_link {
  margin-left: 40px;
}
.copyright {
  background-color: #006abf;
  color: #fff;
  padding-left: 235px;
  padding-top: 15px;
  font-size: 14px;
}

/* media */

@media (max-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  /* header */
  .nav_link {
    margin-left: 15px;
  }
  .seach_icon {
    right: 45px;
  }

  /* intro */
  .intro_title {
    font-size: 50px;
  }
  .intro_inner_left {
    margin-left: 60px;
  }
  .intro_bg_img {
    margin-left: 20px;
    width: 95%;
  }

  /* about */
  .about {
    padding: 40px 0;
  }
  .container_about {
    max-width: 730px;
    width: 100%;
    align-items: center;
  }
  .about_title {
    font-size: 25px;
  }

  /* services */

  .services {
    padding: 0 15px;
  }
  .container_services_title {
    margin-top: 70px;
  }
  .services_title {
    font-size: 35px;
  }
  .services_text {
    margin-bottom: 90px;
  }
  .content_title {
    font-size: 25px;
  }
  .content {
    align-items: center;
    justify-content: space-between;
    margin: 60px 0;
  }
  .content_img {
    margin-top: 20px;
  }
  .col_right {
    margin-left: 0;
  }
  .col_right,
  .col_left {
    width: 48%;
  }
  .path_right {
    margin-left: 30px;
  }
  .text_2,
  .text_3 {
    margin-top: 20px;
  }
  .text_6 {
    margin-top: 20px;
  }
  /* costs */

  .costs_title {
    font-size: 35px;
    margin: 55px 0;
  }
  .table_column {
    padding-left: 15px;
  }
  .table_column_2 {
    padding-right: 15px;
  }
  .sign {
    margin-bottom: 60px;
  }

  /* reviews */
  .container_reviews {
    padding: 0 15px;
  }
  .reviews_title {
    margin: 60px 0;
    font-size: 35px;
  }
  .reviews_decorate {
    width: 25px;
    height: 20px;
  }
  .reviews_content {
    padding: 0 15px;
  }
  .reviews_text {
    height: auto;
  }
  .reviews {
    margin-bottom: 90px;
  }

  /* contacts */
  .contacts_title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .contacts_title {
    margin-bottom: 25px;
  }

  /* form */
  .form_title {
    font-size: 25px;
  }
  .form_img {
    margin-left: 20%;
  }
  .form_input,
  .form_input_text {
    width: 300px;
  }
  /* footer */
  .footer_container {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  /* header */
  .nav {
    display: none;
  }
  .nav.active {
    display: block;
  }
  .m_menu_inner {
    display: block;
    border: none;
    width: 40px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
  .m_menu_inner.active .mobile_menu {
    background: transparent;
  }
  .m_menu_inner.active .mobile_menu::after {
    transform: rotate(-45deg) translateX(-4px);
    transform-origin: left bottom;
    top: 45px;
  }
  .m_menu_inner.active .mobile_menu::before {
    transform: rotate(45deg) translateX(-3px);
    transform-origin: left top;
    top: 29px;
  }
  .mobile_menu {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #006abf;
  }
  .mobile_menu::after,
  .mobile_menu::before {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    z-index: 1;
    background-color: #006abf;
    transition: transform 0.2s linear;
    margin-left: -15px;
  }
  .mobile_menu::before {
    top: 43px;
  }
  .mobile_menu::after {
    top: 31px;
  }
  .nav.active {
    position: absolute;
    width: 100%;
    height: 373px;
    top: 100%;
    left: 0;
    background-color: #006abf;
    padding-left: 6.5%;
  }
  .nav.active .nav_link {
    display: block;
    color: #fff;
    margin: 56px 0;
  }
  .header_left {
    display: block;
  }
  .path_left,
  .path_right {
    width: 90%;
  }
  .contacts {
    flex-wrap: wrap;
  }
  .contacts_left,
  .contacts_right {
    width: 100%;
  }
  .intro_img {
    margin-right: 0;
    position: absolute;
    right: 10px;
    z-index: -2;
    width: 290px;
    height: 467px;
    top: 80px;
  }
  .intro_bg_img {
    display: none;
  }
  .intro_inner_left {
    width: 60%;
    margin-left: 30px;
    margin-top: 0;
    height: 330px;
  }
  .intro_title {
    font-size: 27px;
    line-height: 40px;
  }

  /* about */
  .container_about {
    flex-wrap: wrap;
  }
  .about_img {
    margin: 0 auto;
  }
  .about_title {
    margin-top: 30px;
    text-align: center;
  }
  .about_content {
    padding: 0 15px;
    text-align: center;
  }
  /* services */
  .services_title {
    font-size: 30px;
  }
  .container_services_title {
    margin-top: 70px;
  }
  .services_text {
    margin-bottom: 70px;
  }
  .path_left,
  .path_right {
    display: none;
  }
  .content {
    flex-direction: column;
  }
  .col_right,
  .col_left {
    width: 100%;
    text-align: center;
  }
  .item_2 {
    flex-direction: column-reverse;
  }
  /* costs */
  .costs_title {
    margin: 35px 0;
  }
  /* reviews */
  .reviews_title {
    margin: 45px 0;
  }
  .reviews_item {
    width: 100%;
    margin-top: 20px;
  }
  /* contacts */
  .contacts_content {
    text-align: center;
  }
  /* form */
  .form_img {
    margin-left: 5%;
  }
  .fotm_bg {
    margin-left: 20px;
  }
  .form_input,
  .form_input_text {
    width: 250px;
  }
  .social_link {
    margin-left: 20px;
  }
  .copyright {
    padding-left: 110px;
    padding-top: 10px;
  }
}
@media (max-width: 575px) {
  /* header */
  .nav.active {
    height: 291px;
  }
  .nav.active .nav_link {
    margin: 39px 0;
  }
  /* intro */
  .intro_text {
    margin: 0 auto;
  }
  .intro_inner_right {
    display: none;
  }
  .intro_inner_left {
    width: 100%;
    text-align: center;
    margin-left: 0;
    height: auto;
    margin-bottom: 30px;
  }
  /* contacns */
  .contacts {
    margin-bottom: 0;
  }
  .contacts_content {
    margin: 45px auto;
  }
  /* form */
  .form_left {
    display: none;
  }
  .form_right {
    width: 100%;
    text-align: center;
  }
  .form_input,
  .form_input_text {
    margin: 20px auto;
  }
  /* footer */
  .footer_social {
    display: flex;
  }
  .footer_right {
    margin-top: 180px;
  }
}
@media (max-width: 425px) {
  .about_img {
    width: 90%;
    height: auto;
  }
  /* footer */
  .contacts_content {
    margin: 20px auto;
  }
  .footer_container {
    display: block;
    text-align: center;
  }
  .footer_left {
    display: block;
    padding-top: 20px;
    margin-top: 0;
  }
  .footer_logo {
    display: block;
    margin: 0 auto;
  }
  .footer_contacts {
    margin-left: 15px;
  }
  .footer_right {
    margin-top: 10px;
  }
  .footer_social {
    justify-content: center;
  }
  .footer_links {
    margin-left: 15px;
  }
  .copyright {
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .search,
  .seach_icon {
    display: none;
  }
}
